body {
    /* background: #01257D; */
    /*background-image: url("images/fondo_blue.jpg");*/
    background: #161616;
}
#div-foto{
    margin-top: 2.5rem !important;
}
#div-info{
    margin-top: 2.5rem !important;
}
.elect_blue{
    color:#00FFFF
}
.bg_blue{
    background-color: #2A52BE;
}
.img-small {
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: auto;
  }


.rubik-300 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.rubik-600 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.linkTitle{
    text-decoration: none;
}

@media (max-width: 600px) {
    .img-small {
        width: 50%;
        height: 50%;
        max-width: 50%;
        height: auto;
      }
    #div-info{
        text-align: center;
    }
}

.icono {
    width: 2em; /* Ajusta el tamaño a la altura de la fuente */
    height: 2em; 
    vertical-align: middle; 
    margin-right: .5em;
}

.green_font{
    color: #62f194;
}

.bg_gray{
    background-color: #323232;
}